.siteHeader {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 58px;
  padding: 0 18px 0 20px;
  
}

.nav__left {
  display: flex;
  justify-content:space-between;
  align-items: center;
  gap: 16px;
}

.nav__left h1 {
  margin: 0;
  color: #1a1b1c;
  font-size: 8px;
  font-weight: 700;
  line-height: 1;
}

.intro {
  color: #7d7d7d;
  font-size: 8px;
  font-weight: 600;
  line-height: 1;
}

.enter__code {
  width: 77px;
  height: 31px;
  padding: 0;
  border: 0;
  background: #1a1b1c;
  color: white;
  font-size: 7px;
  font-weight: 700;
  cursor: pointer;
}
