
.pageHighlight{
    display:flex;
    justify-content:Space-between;

}
.selectDiamondContainer{
    width:50vw;
    height:50vw;
    top:20%;
    left:40%;
    margin: 0 auto;
    position :fixed;
    
}
.selectDiamond {
  width: 190px;
  height: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: #f0f0f1;
  border: none;
  transform: rotate(45deg);
  cursor: pointer;
}

.selectDiamond span {
  transform: rotate(-45deg);
  max-width: 140px;
  color: #1a1b1c;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  line-height: 1.25;
}


.top{
    left:150px;
    top:0px;
}
.left{
    left:0;
    top:140px;

}
.right{
    left:280px;
    top:140px;
}
.bottom{
    left:140px;
    top:280px;
}

@media (max-width:1024px){
    .selectDiamondContainer{
        width:50vw;
        height:50vw;
        top:25%;
        left:25%;

    }
    .selectDiamond{
        width:180px;
        height:180px;
    }
    .para{
        margin-left:50px;
    }
    .title{
        font-size:26px;
    }
    .smallTitle{
        font-size: 20px;
    }
    .sub-title{
        font-size:18px;
    }
}
@media (max-width:768px){
  .selectDiamondContainer {
    position: relative;
    top: 20%;
    left: 10%;;
    transform: none;
    width: 50vw;
    height: 50vw;
    margin-top: 40px auto 0;
  }
    .selectDiamond{
        width:170px;
        height:170px;
    }
} 
@media (max-width:480px){
    .selectDiamondContainer{
        width:350px;
        height:350px;
        top:150px;
        left:-150px;
    }
    .selectDiamond{
        width:180px;
        height:180px;
    }
}